{% extends "layout.html" %}
{% block body %}
<div class="row"><!--la clase row crea una fila-->
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}        
        <div class="card card-body"><!--crea una tarjeta que es un recuadro en blanco-->
            <form action="/addcontact" method="POST">
                <div class="form-group">
                    <input type="text" name="fullname" placeholder="Fullname" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="phone" placeholder="Phone" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success btn-block">
                        
                    Save
                    </button>
                </div>

            </form>
            
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-dark table-bordered bg-black">
                <thead>
                    <tr>
                        <th scope="col">FULLNAME</th>
                        <th scope="col">PHONE</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">OPERATION</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts%}
                        <tr>
                            <td>{{contact.1}}</td>
                            <td>{{contact.2}}</td>
                            <td>{{contact.3}}</td>
                            <td>
                                <a href="/edit/{{contact.0}}" class="btn btn-secondary">Edit</a>
                                <a href="/delete/{{contact.0}}" class="btn btn-danger btn-delete">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
    
</div>



{% endblock %}
